* {
    margin: 0;
    padding: 0;
}

.login-form,
.register-form {
    width: 40%;
    border: 1px solid black;
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
}

.loading-spiner {
    padding: 200px 0px;
}

.loading-spiner>div {
    padding: 22px;
}