* {
    margin: 0;
    padding: 0;
}

.cars-table {
    color: red;
}

.login-form,
.register-form {
    width: 40%;
    background-color: white ;
    border: 1px solid black;
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
}

.login-btn,
.register-btn {
    padding: 0px 5px;
}

.logout-btn {
    padding: 0px 5px;
    border: none;
}

.invalid-input {
    color: red;
}

.MuiPaper-root {
    border: 2px solid black;
}

.navbar {
    padding: 10px;
    border: 2px solid black;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.MuiPaper-elevation2 {
    margin: 100px 50px;
}

.back-btn {
    text-decoration: none;
    color: white;
}