* {
    margin: 0;
    padding: 0;
}

.login-form,
.register-form {
    width: 40%;
    border: 1px solid black;
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
}

.loading-spiner {
    padding: 200px 0px;
}

.loading-spiner>div {
    padding: 22px;
}

.login-btn,
.register-btn {
    padding: 0px 5px;
}

.logout-btn {
    border: none;
    background-color: white;
}

.invalid-input {
    color: red;
}

.table {
    width: 70%;
    margin: 50px auto;
    border: 2px solid black;
}

.home-page-welcome {
    position: absolute;
    top: 100px;
    left: 33%;
}

.home-page-img {
    width: 100%;
}

.add-car-form {
    width: 45%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
}

.MuiPaper-root {
    width: 90%;
    margin: 10px auto;
    border: 2px solid black;
}
